[platform="linux"] #context-timeline ul li.protected .timestamp-client {
	background-position: right 2px !important;
}
[platform="win"] #context-timeline ul li.protected .timestamp-client {
	background-position: right 5px;
}
[platform="win"] .status-list .content .timestamp-client .chs ~ .en {
	-webkit-transform: translateY(.5px);
	transform: translateY(.5px);
}
[platform="win"] .status-list li.protected .timestamp-client {
	background-position: right 3px;
}
[platform="linux"] #context-timeline ul li .content .timestamp-client .chs ~ .en,
[platform="linux"] .status-list .content .timestamp-client .chs ~ .en {
	-webkit-transform: translateY(.5px);
	transform: translateY(.5px);
}