#context-timeline ul li .timestamp-client,
#context-timeline ul li .timestamp-client span,
.status-list .content .timestamp-client,
.status-list .content .timestamp-client span,
.status-list .breakpoint {
	font-family: Calibri, "Calibri for PREFiX", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei";
}
#context-timeline ul li .timestamp-client .chs {
	-webkit-transform: scale(0.89) translateY(0);
	transform: scale(0.89) translateY(0);
}
[platform="win"] .status-list .content .timestamp-client .chs {
	-webkit-transform: scale(0.89) translateY(.5px);
	transform: scale(0.89) translateY(.5px);
}
[platform="mac"] #context-timeline ul li.protected .timestamp-client {
	line-height: 20px;
}
[platform="mac"] .status-list li.protected .timestamp-client {
	line-height: 25px;
	background-position: right 7.5px !important;
}
[platform="linux"] .status-list li.protected .timestamp-client,
[platform="linux"] #context-timeline ul li.protected .timestamp-client {
	background-position: right 2px !important;
}
[platform="linux"] #context-timeline ul .content .timestamp-client .chs ~ .en {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}