@-webkit-keyframes flow {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	90% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}
@keyframes flow {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	90% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	90% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	90% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
#glass-wrapper {
	position: fixed;
	z-index: 9999;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: none;
}
.loading-effect #glass-wrapper {
	display: block;
}
#glass-container {
	position: relative;
	opacity: .9;
	zoom: .3;
	-webkit-animation: spin ease-in 3s infinite;
	animation: spin ease-in 3s infinite;
}
#glass-container, #glass, #layer-1, #layer-2 {
	width: 160px;
	height: 180px;
}
.triangle {
	border-color: transparent;
	border-style: solid;
	border-width: 120px 80px 0 80px;
	width: 0;
	height: 0;
}
.rotate {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.half-glass {
	border-top-color: rgba(255, 255, 255, .75);
}
.bottom.half-glass {
	margin-top: -60px;
}
#layer-1, #layer-2 {
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: scale(.75);
	-webkit-transform-origin: center top;
	transform: scale(.75);
	transform-origin: center top;
}
#layer-1 {
	z-index: 5;
}
#layer-2 {
	z-index: 10;
}
#layer-1 .top.triangle, #layer-2 .top.triangle {
	position: absolute;
	bottom: 47px;
}
#layer-1 .bottom.triangle, #layer-2 .bottom.triangle {
	position: absolute;
	bottom: 107px;
}
#layer-1 .top, #layer-2 .bottom {
	border-top-color: #FFFFFF;
}
#layer-1 .bottom, #layer-2 .top {
	border-top-color: #D4EAFB;
}
#layer-2 .triangle {
	-webkit-transform-origin: center bottom;
	-webkit-animation: flow 3s ease-in infinite;
	transform-origin: center bottom;
	animation: flow 3s ease-in infinite;
}
#sand-stream {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -6px;
	z-index: 20;
	width: 12px;
	height: 80px;
	background: #D4EAFB;
}
#bond {
	position: absolute;
	z-index: 100;
	left: 80px;
	top: 90px;
	margin-left: -40px;
	margin-top: -20px;
	width: 0;
	height: 0;
}
#bond .triangle {
	border-top-color: #777;
	width: 40px;
	border-width: 30px 20px 0 20px;
}
#bond .bottom {
	border-bottom-color: #777;
	margin-top: -20px;
	border-width: 0 20px 30px 20px;
}