@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes shake {
	0% {
		-webkit-transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
		transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
	}
	25% {
		-webkit-transform: skew(0) rotate(0) translateX(0) translateY(-1px);
		transform: skew(0) rotate(0) translateX(0) translateY(-1px);
	}
	50% {
		-webkit-transform: skew(-8deg) rotate(-5deg) translateX(-2px) translateY(-2px);
		transform: skew(-8deg) rotate(-5deg) translateX(-2px) translateY(-2px);
	}
	75% {
		-webkit-transform: skew(0) rotate(0) translateX(0) translateY(-1px);
		transform: skew(0) rotate(0) translateX(0) translateY(-1px);
	}
	100% {
		-webkit-transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
		transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
	}
}
@keyframes shake {
	0% {
		-webkit-transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
		transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
	}
	25% {
		-webkit-transform: skew(0) rotate(0) translateX(0) translateY(-1px);
		transform: skew(0) rotate(0) translateX(0) translateY(-1px);
	}
	50% {
		-webkit-transform: skew(-8deg) rotate(-5deg) translateX(-2px) translateY(-2px);
		transform: skew(-8deg) rotate(-5deg) translateX(-2px) translateY(-2px);
	}
	75% {
		-webkit-transform: skew(0) rotate(0) translateX(0) translateY(-1px);
		transform: skew(0) rotate(0) translateX(0) translateY(-1px);
	}
	100% {
		-webkit-transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
		transform: skew(5deg) rotate(2deg) translateX(2px) translateY(-2px);
	}
}
@-webkit-keyframes spring {
	0% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	12.5% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	27.5% {
		-webkit-transform: translateY(-16px);
		transform: translateY(-16px);
	}
	50% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	70% {
		-webkit-transform: scaleY(1) translateY(-2px);
		transform: scaleY(1) translateY(-2px);
	}
	77.5% {
		-webkit-transform: scaleY(.75) translateY(-2px);
		transform: scaleY(.75) translateY(-2px);
	}
	81% {
		-webkit-transform: scaleY(1) translateY(-2px);
		transform: scaleY(1) translateY(-2px);
	}
	85% {
		-webkit-transform: translateY(-7px);
		transform: translateY(-7px);
	}
	94% {
		-webkit-transform:  translateY(-2px);
		transform:  translateY(-2px);
	}
	97% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}
@keyframes spring {
	0% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
	12.5% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	27.5% {
		-webkit-transform: translateY(-16px);
		transform: translateY(-16px);
	}
	50% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	70% {
		-webkit-transform: scaleY(1) translateY(-2px);
		transform: scaleY(1) translateY(-2px);
	}
	77.5% {
		-webkit-transform: scaleY(.75) translateY(-2px);
		transform: scaleY(.75) translateY(-2px);
	}
	81% {
		-webkit-transform: scaleY(1) translateY(-2px);
		transform: scaleY(1) translateY(-2px);
	}
	85% {
		-webkit-transform: translateY(-7px);
		transform: translateY(-7px);
	}
	94% {
		-webkit-transform:  translateY(-2px);
		transform:  translateY(-2px);
	}
	97% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(-2px);
		transform: translateY(-2px);
	}
}
@-webkit-keyframes slide-in-from-right-1 {
	0% {
		-webkit-transform: translateX(120px);
		transform: translateX(120px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slide-in-from-right-1 {
	0% {
		-webkit-transform: translateX(120px);
		transform: translateX(120px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes slide-in-from-right-2 {
	0% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slide-in-from-right-2 {
	0% {
		-webkit-transform: translateX(80px);
		transform: translateX(80px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes slide-in-from-right-3 {
	0% {
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes slide-in-from-right-3 {
	0% {
		-webkit-transform: translateX(40px);
		transform: translateX(40px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@-webkit-keyframes loading-animation-1 {
	0% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	25% {
		-webkit-transform: translateY(-7px);
	}
	50% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	75% {
		-webkit-transform: translateY(7px);
	}
	100% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
}
@keyframes loading-animation-1 {
	0% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	25% {
		-webkit-transform: translateY(-7px);
	}
	50% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	75% {
		-webkit-transform: translateY(7px);
	}
	100% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
}
@-webkit-keyframes loading-animation-2 {
	0% {
		-webkit-transform: translateY(7px);
		background: #d8d8d8;
	}
	25% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	50% {
		-webkit-transform: translateY(-7px);
	}
	75% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	100% {
		-webkit-transform: translateY(7px);
		background: #d8d8d8;
	}
}
@keyframes loading-animation-2 {
	0% {
		-webkit-transform: translateY(7px);
		background: #d8d8d8;
	}
	25% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	50% {
		-webkit-transform: translateY(-7px);
	}
	75% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	100% {
		-webkit-transform: translateY(7px);
		background: #d8d8d8;
	}
}
@-webkit-keyframes loading-animation-3 {
	0% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	25% {
		-webkit-transform: translateY(7px);
	}
	50% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	75% {
		-webkit-transform: translateY(-7px);
	}
	100% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
}
@keyframes loading-animation-3 {
	0% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	25% {
		-webkit-transform: translateY(-7px);
	}
	50% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	75% {
		-webkit-transform: translateY(7px);
	}
	100% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
}
@-webkit-keyframes loading-animation-4 {
	0% {
		-webkit-transform: translateY(-7px);
		background: #d8d8d8;
	}
	25% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	50% {
		-webkit-transform: translateY(7px);
	}
	75% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	100% {
		-webkit-transform: translateY(-7px);
		background: #d8d8d8;
	}
}
@keyframes loading-animation-4 {
	0% {
		-webkit-transform: translateY(-7px);
		background: #d8d8d8;
	}
	25% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	50% {
		-webkit-transform: translateY(7px);
	}
	75% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	100% {
		-webkit-transform: translateY(-7px);
		background: #d8d8d8;
	}
}
@-webkit-keyframes loading-animation-5 {
	0% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	25% {
		-webkit-transform: translateY(-7px);
	}
	50% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	75% {
		-webkit-transform: translateY(7px);
	}
	100% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
}
@keyframes loading-animation-5 {
	0% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
	25% {
		-webkit-transform: translateY(-7px);
	}
	50% {
		-webkit-transform: translateY(0);
		background: #fff;
	}
	75% {
		-webkit-transform: translateY(7px);
	}
	100% {
		-webkit-transform: translateY(0);
		background: #ddd;
	}
}
@-webkit-keyframes focusInFromBottom {
	from {
		-webkit-transform: translate(0, 100px) scale(1.5);
		transform: translate(0, 100px) scale(1.5);
		opacity: 0;
	}
	to {
		-webkit-transform: translate(0, 0) scale(1);
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
}
@keyframes focusInFromBottom {
	from {
		-webkit-transform: translate(0, 100px) scale(1.5);
		transform: translate(0, 100px) scale(1.5);
		opacity: 0;
	}
	to {
		-webkit-transform: translate(0, 0) scale(1);
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes focusOutFromTop {
	from {
		-webkit-transform: translate(0, 0) scale(1);
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: translate(0, 100px) scale(1.5);
		transform: translate(0, 100px) scale(1.5);
		opacity: 0;
	}
}
@keyframes focusOutFromTop {
	from {
		-webkit-transform: translate(0, 0) scale(1);
		transform: translate(0, 0) scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: translate(0, 100px) scale(1.5);
		transform: translate(0, 100px) scale(1.5);
		opacity: 0;
	}
}
::-webkit-scrollbar {
	background-color: transparent;
	width: 5px;
}
::-webkit-scrollbar-button:vertical {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track:vertical {
	background: #f8f8f8;
	margin: 5px 1px 3px 1px;
}
::-webkit-scrollbar-thumb:vertical {
	background-color: #ccc;
	border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}
::selection {
	background: rgba(82, 168, 236, .25);
}
.focusOutFromTop {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation: focusOutFromTop .25s ease-out;
	animation: focusOutFromTop .25s ease-out;
}
.focusInFromBottom {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation: focusInFromBottom .25s ease-out;
	animation: focusInFromBottom .25s ease-out;
}
* {
	font: 13px "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
html,
body,
div {
	margin: 0;
	padding: 0;
}
.fix::after {
	display: block;
	content: 'clear';
	clear: both;
	line-height: 0;
	visibility: hidden;
}
body {
	background: #f8f8f8;
	color: #555;
	width: 400px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	word-break: break-word;
	-webkit-font-smoothing: antialiased;
}
a {
	color: #333 !important;
	text-decoration: none !important;
	cursor: pointer;
}
#birthday-cake {
	display: none;
	position: fixed;
	left: 50%;
	bottom: 10%;
	-webkit-transform: translateX(-50%);
	z-index: 9999;
}
#follow-author {
	z-index: 99;
	position: fixed;
	top: 450px;
	left: 50%;
	height: 48px;
	width: 280px;
	background: rgba(255, 255, 255, .95);
	padding: 6px;
	border-radius: 3px;
	box-shadow: 0 0 6px #555;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
#author-avator {
	float: left;
	width: 48px;
	height: 48px;
}
#follow-tip {
	float: left;
	width: 225px;
	margin-left: 5px;
}
#follow-tip p {
	padding: 0;
	margin: 0;
	line-height: 24px;
	font-size: 12px;
}
#follow-tip a {
	cursor: pointer;
	text-decoration: underline !important;
}
#rating-tip {
	display: none;
	z-index: 99;
	position: fixed;
	top: 450px;
	left: 50%;
	height: 20px;
	width: 250px;
	background: rgba(255, 255, 255, .95);
	padding: 6px;
	border-radius: 3px;
	box-shadow: 0 0 6px #555;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
#rating-links {
	float: right;
}
#rating-tip p {
	margin: 0;
	padding: 0;
	line-height: 20px;
}
#rating-tip a {
	cursor: pointer;
	text-decoration: underline !important;
}
#birthday-tip {
	display: none;
	z-index: 99;
	position: fixed;
	top: 450px;
	left: 50%;
	width: 250px;
	background: rgba(255, 255, 255, .95);
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 0 6px #555;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
#birthday-tip p {
	margin: 0;
}
#birthday-tip p:first-of-type a {
	text-decoration: underline !important;
}
#notification {
	z-index: 99;
	position: fixed;
	top: 500px;
	left: 50%;
	height: 20px;
	font: 12px Verdana, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    line-height: 20px;
    padding: 2px 6px;
    border-radius: 3px;
	display: none;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
body.show-picture #main,
body.show-context-timeline #main {
	overflow: hidden;
	padding-right: 5px;
	width: 395px;
}
body.show-picture #picture-overlay,
body.show-context-timeline #context-timeline {
	display: block;
}
#picture-overlay {
	z-index: 200;
	position: fixed;
	display: none;
	width: 400px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(0, 0, 0, .85);
	color: #fff;
	text-shadow: 0 0 2px #ccc;
}
#picture-overlay::-webkit-scrollbar-track:vertical {
	margin: 0;
}
#picture {
	position: absolute;
	max-width: 400px;
	box-shadow: 0 0 25px #000;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}
#picture-overlay .tip {
	display: none;
}
#picture-overlay.error #picture {
	display: none !important;
}
#picture-overlay.error .tip {
	position: absolute;
	z-index: 201;
	display: inline-block;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	-webkit-animation: fadeIn .4s ease-in-out;
	animation: fadeIn .4s ease-in-out;
}
#context-timeline {
	z-index: 100;
	position: fixed;
	display: none;
	width: 400px;
	height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(0, 0, 0, .85);
	color: #fff;
	text-shadow: 0 0 2px #ccc;
}
#context-timeline::-webkit-scrollbar-track:vertical {
	margin: 0;
}
#context-timeline.loading::after {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	content: "LOADING";
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#context-timeline.loading ul {
	display: none;
}
#context-timeline ul {
	list-style: none;
	margin: 100px 30px;
	padding: 0;
	text-shadow: none;
}
#context-timeline  ul li {
	clear: both;
	margin-bottom: 15px;
}
#context-timeline ul li .avatar {
	float: left;
	width: 48px;
	height: 48px;
}
#context-timeline ul li .content {
	float: right;
	width: 276px;
}
#context-timeline ul li a {
	color: #fff !important;
}
#context-timeline ul li .info {
	margin-bottom: 3px;
}
#context-timeline ul li .timestamp-client {
	float: right;
	line-height: 18px !important;
}
#context-timeline ul li .timestamp-client .chs ~ .en {
	display: inline-block;
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}
#context-timeline ul li .timestamp-client .chs {
	-webkit-transform: scale(0.89) translateY(1px);
	transform: scale(0.89) translateY(1px);
	margin: 0 -1px 0 0;
	display: inline-block;
}
#context-timeline ul li .timestamp-client,
#context-timeline ul li .timestamp-client span {
	font: 12px "Calibri for PREFiX", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
	color: #ccc !important;
}
#context-timeline ul li .status-content a {
	text-decoration: underline !important;
}
#context-timeline ul li .photo img {
	margin-top: 3px;
}
#header {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 400px;
	height: 45px;
	background: url('/images/header-bg.png') repeat;
}
#top-bar {
	display: block;
	position: relative;
	height: 35px;
}
h1 {
	float: left;
	margin: 6px 0 0 15px;
	padding: 0;
	cursor: pointer;
}
h1 b {
	color: transparent;
	width: 92px;
	height: 24px;
	display: inline-block;
	background: url('/images/logo.png') center center;
}
#back-to-top {
	width: 16px;
	height: 16px;
	margin: 0 0 -7px 5px;
	opacity: 0;
	-webkit-transition: opacity ease-in-out .2s;
	transition: opacity ease-in-out .2s;
	border-radius: 8px;
	background: rgba(0, 0, 0, .9) url('/images/back-to-top.png') no-repeat center center;
	display: inline-block;
}
#top-bar:hover #back-to-top {
	opacity: 1;
}
#app.on-top #back-to-top {
	opacity: 0 !important;
	width: 0;
	height: 0;
	overflow: hidden;
}
html.panel-mode #new-window {
	display: none !important;
}
#new-window {
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	padding: 5px;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity ease-in-out .2s;
	transition: opacity ease-in-out .2s;
	background: url('/images/new-window.png') center center no-repeat;
	cursor: pointer;
	opacity: 0;
}
#app:not(.on-top) #new-window {
	opacity: 0 !important;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
}
#top-bar:hover #new-window {
	opacity: 1;
}
#navigation-bar {
	float: right;
	padding: 0;
	margin: 6px 15px 0 0;
}
#navigation-bar li {
	position: relative;
	float: left;
	list-style: none;
	width: 40px;
	height: 24px;
	display: inline-block;
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	-webkit-transition: opacity ease-in-out .2s;
	transition: opacity ease-in-out .2s;
	opacity: .6;
}
#navigation-bar li:hover,
#navigation-bar li.current {
	opacity: 1;
}
#navigation-bar li.home-timeline {
	background-image: url('/images/home.png');
	-webkit-animation: slide-in-from-right-1 ease-in-out .4s;
	animation: slide-in-from-right-1 ease-in-out .4s;
}
#navigation-bar li.mentions {
	background-image: url('/images/mentions.png');
	-webkit-animation: slide-in-from-right-2 ease-in-out .4s;
	animation: slide-in-from-right-2 ease-in-out .4s;
}
#navigation-bar li.privatemsgs {
	background-image: url('/images/privatemsg.png');
	-webkit-animation: slide-in-from-right-3 ease-in-out .4s;
	animation: slide-in-from-right-3 ease-in-out .4s;
}
#navigation-bar li .count {
	display: none;
	position: absolute;
	right: -10px;
	top: -6px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	border-radius: 11px;
	font-size: 12px;
	background: red;
	color: #fff;
	text-align: center;
	-webkit-transform: scale(.75);
	transform: scale(.75);
}
#compose-bar {
	position: absolute;
	left: 0;
	top: 35px;
}
#compose-bar textarea {
	width: 370px;
	height: 16px;
	min-height: 16px;
	padding: 12px 15px;
	line-height: 16px;
	border: 0;
	outline: 0 !important;
	box-shadow: 0 0 6px rgba(0, 0, 0, .15);
	overflow: hidden;
	resize: none;
	-webkit-transition-property: box-shadow, height;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: .2s;
}
#compose-bar textarea.over {
	background: #ffe5e5;
}
#compose-bar textarea:focus {
	box-shadow: 0 0px 10px 0 rgba(83, 186, 237, .5);
}
#uploading-photo {
	display: block;
	position: absolute;
	left: 8px;
	top: 0;
	width: 22px;
	height: 16px;
	padding: 12px 7px;
	background: url('/images/uploading-photo.png') center center no-repeat;
	cursor: pointer;
	-webkit-transition: opacity ease-in-out .2s;
	transition: opacity ease-in-out .2s;
	opacity: .6;
}
#uploading-photo:hover {
	opacity: 1;
}
#compose-bar textarea:focus + #uploading-photo,
#compose-bar textarea.filled + #uploading-photo {
	display: none;
}
#main {
	position: absolute;
	left: 0;
	top: 75px;
	width: 400px;
	height: 525px;
	overflow-y: auto;
	overflow-x: hidden;
}
#title h2 {
	font: 18px "HelveticaNeueLT Pro for PERFiX";
	font-weight: 300;
	padding: 10px 0 5px 15px;
	margin: 0;
	border-bottom: 1px solid #ddd;
	height: 21px;
}
#stream {
	padding-bottom: 10px;
}
#stream > ul {
	display: none;
}
#stream > ul.current {
	display: block;
}
.status-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.status-list li {
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 #fff inset;
}
.status-list li:hover {
	background: url('/images/status-bg.png') repeat;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .6) inset;
}
.status-list li .status {
	padding: 8px 0;
	position: relative;
}
.status-list li .action-icons a {
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
	background-repeat: no-repeat;
	background-position: left top;
	width: 36px;
	height: 34px;
	position: absolute;
	top: 0;
	z-index: 4;
	cursor: pointer;
}
.status-list li .action-icons .remove {
	left: 0;
	background-image: url('/images/remove.png');
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
}
.status-list li .action-icons .remove:hover {
	background-position: left bottom;
	-webkit-animation: shake ease-in-out .2s infinite;
}
.status-list li .action-icons .reply {
	right: 75px;
	background-image: url('/images/reply.png');
}
.status-list li .action-icons .reply:hover {
	background-position: left bottom;
}
#privatemsgs li .action-icons .reply {
	right: 0;
}
.status-list li .action-icons .repost {
	right: 41px;
	background-image: url('/images/repost.png');
}
.status-list li .action-icons .repost:hover {
	background-position: left bottom;
}
.status-list li .action-icons .favourite {
	right: 7px;
	background-image: url('/images/favourite.png');
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
.status-list li .action-icons .favourite:hover {
	background-position: left center;
}
.status-list li .action-icons .favourited {
	background-position: left bottom;
}
.status-list li .timestamp-client,
.status-list li .action-icons {
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.status-list li .timestamp-client {
	margin-top: 1px;
	opacity: 1;
}
.status-list li:hover .timestamp-client {
	opacity: 0;
}
.status-list li .action-icons {
	opacity: 0;
}
.status-list li:hover .action-icons {
	opacity: 1;
}
.status-list li.protected .timestamp-client {
	padding-right: 12px;
	background: url('/images/protected.png') right center no-repeat;
}
.status-list .avatar {
	float: left;
	margin-left: 15px;
	position: relative;
	border: 1px solid rgba(255, 255, 255, .75);
}
.status-list .avatar::after {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .5) inset;
	content: " ";
	pointer-events: none;
}
.status-list .avatar img {
	display: block;
	width: 48px;
	height: 48px;
}
.status-list .content {
	float: right;
	margin-right: 15px;
	width: 308px;
}
.status-list .content > * {
	line-height: 150%;
}
.status-list .content .name {
	font-weight: bold;
}
.status-list .content .permanent-link {
	opacity: 0;
	-webkit-transition: opacity ease-in-out .2s;
	transition: opacity ease-in-out .2s;
}
.status-list .info:hover .permanent-link {
	opacity: .6;
}
.status-list .content .timestamp-client {
	float: right;
}
.status-list .content .timestamp-client .chs ~ .en {
	display: inline-block;
	-webkit-transform: translateY(1px);
	transform: translateY(1px);
}
.status-list .content .timestamp-client .chs {
	-webkit-transform: scale(0.89) translateY(1px);
	transform: scale(0.89) translateY(1px);
	margin: 0 -1px 0 0;
	display: inline-block;
}
.status-list .content .timestamp-client,
.status-list .content .timestamp-client span {
	font: 12px "Calibri for PREFiX", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
.status-list .status-content {
	clear: both;
}
.status-list .status-content a {
	text-decoration: underline !important;
}
.status-list .status-content a[href^="https"]::before {
	content: url('/images/protected.png');
	margin: 0 5px;
	pointer-events: none;
}
.photo img {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.status-list .context {
	clear: both;
	margin-bottom: -8px;
	width: 400px;
	text-align: center;
}
.status-list .context span {
	display: inline-block;
	cursor: pointer;
	width: 22px;
	height: 18px;
	background: url('/images/conversation.png') center top no-repeat;
}
.status-list .context span:hover {
	background-position: center bottom;
}
.status-list .in-reply-to-message {
	clear: both;
	padding: 5px 8px;
	margin: 5px 0;
	border-radius: 3px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	text-shadow: 0 1px 0 #333;
	box-shadow: 0 1px 2px #333 inset;
}
#loading {
	width: 400px;
	height: 60px;
	position: relative;
}
#loading ul {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 15px;
	-webkit-transform: translate(-50%, -10px);
	transform: translate(-50%, -10px);
	margin: 0;
	padding: 0 0 10px 0;
}
#loading li {
	display: inline-block;
	height: 15px;
	width: 5px;
	box-shadow: 0 0 3px #999;
	border-radius: 1px;
	margin: 0 5px 0 0;
	list-style: none;
	float: left;
}
#loading li:nth-child(1) {
	-webkit-animation: loading-animation-1 1s linear infinite;
	animation: loading-animation-1 1s linear infinite;
}
#loading li:nth-child(2) {
	-webkit-animation: loading-animation-2 1s linear infinite;
	animation: loading-animation-2 1s linear infinite;
}
#loading li:nth-child(3) {
	-webkit-animation: loading-animation-3 1s linear infinite;
	animation: loading-animation-2 1s linear infinite;
}
#loading li:nth-child(4) {
	-webkit-animation: loading-animation-4 1s linear infinite;
	animation: loading-animation-2 1s linear infinite;
}
#loading li:nth-child(5) {
	-webkit-animation: loading-animation-5 1s linear infinite;
	animation: loading-animation-2 1s linear infinite;
}
.atwho-view {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    margin-top: 18px;
    background-color: rgba(255, 255, 255, .95);
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    min-width: 120px;
    z-index: 110;
}
.atwho-view .cur {
    background: #ccc;
}
.atwho-view strong {
    color: #000;
    border-bottom: 1px solid #06c;
}
.atwho-view .cur strong {
    color: #000;
    font-weight: bold;
}
.atwho-view ul {
    list-style:none;
    padding: 0;
    margin: auto;
}
.atwho-view ul li {
    display: block;
    padding: 6px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
	line-height: 24px;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #000;
}
.atwho-view ul li:nth-child(1) {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.atwho-view ul li:last-child {
	border-bottom: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}