* {
	font: 13px "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}
body {
	width: 300px;
	height: 150px;
	overflow: hidden;
	text-shadow: 0 1px 0 #fff;
}
body, div, textarea {
	margin: 0;
	padding: 0;
}
#wrapper {
}
#img-droparea {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 300px;
	height: 25px;
	line-height: 25px;
	background: #eee;
	box-shadow:
		0 -1px 0 #f5f5f5 inset,
		0 0 5px #333;
}
#img-droparea.loading {
	background: #eee url("/images/loading.gif") 275px center no-repeat;
}
#tip {
	padding-left: 24px;
	background: url('/images/drop-file.png') 6px 0 no-repeat;
}
#file {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
#text {
	position: absolute;
	top: 26px;
}
#status {
	resize: none;
	width: 284px;
	height: 109px;
	overflow: auto;
	padding: 8px;
	outline: 0 !important;
	border: 0;
}
#status.over {
	background: #ffe5e5;
}